.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.25em 0;
}

.numberSquare {
  font-size: x-large;
  border: 3px solid black;
  padding: 0.25em 0;
}

.numberSquare,
.verticalInequality {
  min-width: 2.25em;
  text-align: center;
  align-self: center;
}

.digit--hidden,
.inequalitySpacer {
  visibility: hidden;
}

.inequalityRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 2.5em;
}

.verticalInequality {
  font-size: xx-large;
  line-height: 1em;
  align-self: center;
}

.inequality,
.inequalitySpacer {
  align-self: center;
  font-size: xx-large;
}
