.board {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.25em 0;
}

.square {
  font-size: x-large;
  border: 3px solid black;
  align-self: center;
}

.square,
.verticalInequality {
  padding: 0.25em 1em;
}

.number--hidden,
.inequalitySpacer {
  visibility: hidden;
}

.inequalityRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.verticalInequality {
  font-size: xx-large;
  line-height: 1em;
  align-self: center;
}

.inequality,
.inequalitySpacer {
  align-self: center;
  font-size: xx-large;
}
